h1{
  font-family: sans-serif;
  background-color: red;
  color: white;
 font-size: 32px;
 text-align: center;
 font-weight:bold;
}
.number1{
  font-family: sans-serif;
background-color: pink;
}
#number2{
  font-weight: bold;
  color: blue;
  font-size: 36px;
font-family: 'Times New Roman', Times, serif;
}
.number3{
  font-family: sans-serif;
  background: pink;
  font-size: 24px;
}
#number4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: lightgreen;
font-size: 24px;
}
.number5{
  font-family: sans-serif;
  background-color: pink;
}
.related{
  background-color: black;
  color: #fff;
}
.related1{
 background-color: #faea0cf6; 
}
.related.related1{
  font-size: 28px;
font-family: Helvetica, "Times New Roman", sans-serif;
}
body{
  max-width: 600px;
  margin: 0 auto;
}
.div-one{
  outline: 3px solid blue ;
  padding: 32px;
  background-color: lightcoral;
  margin:12px ;
}
.div-two{
  outline: 3px solid purple;
  margin-bottom: 48px;
}
.div-three{
  outline: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: auto;
}
.margin-padding-2{
  background-color: gray;
  padding:0;
  margin: 0;
}
.box-container{
  background-color: #fff;
padding: 8px;
margin-top: 16px;
margin-bottom: 16px;
margin-left: 8px;
margin-right: 8px;
}
.div-1{
  font-weight: bold;
  display: block;
  background: skyblue;  
  padding: 8px;
  font-size: 16px;
  margin-bottom: 8px;
}
.div-2{
  display: block;
  padding: 8px;
  background-color: skyblue;
  margin-bottom: 8px;
}
.div-3{
  display:block;
  background-color: skyblue;
  text-align: center;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.button-container{
  background-color: #fff;
  padding: 8px 24px;
  text-align: center;
  margin: 0 auto;
}