<<<<<<< Updated upstream
h1{
  font-family: sans-serif;
  background-color: red;
  color: white;
 font-size: 32px;
 text-align: center;
 font-weight:bold;
}
.number1{
  font-family: sans-serif;
background-color: pink;
}
#number2{
  font-weight: bold;
  color: blue;
  font-size: 36px;
font-family: 'Times New Roman', Times, serif;
}
.number3{
  font-family: sans-serif;
  background: pink;
  font-size: 24px;
}
#number4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: lightgreen;
font-size: 24px;
}
.number5{
  font-family: sans-serif;
  background-color: pink;
}
.related{
  background-color: black;
  color: #fff;
}
.related1{
 background-color: #faea0cf6; 
}
.related.related1{
  font-size: 28px;
font-family: Helvetica, "Times New Roman", sans-serif;
=======
h1{
  font-family: sans-serif;
  background-color: red;
  color: white;
 font-size: 32px;
 text-align: center;
 font-weight:bold;
}
.number1{
  font-family: sans-serif;
background-color: pink;
}
#number2{
  font-weight: bold;
  color: blue;
  font-size: 36px;
font-family: 'Times New Roman', Times, serif;
}
.number3{
  font-family: sans-serif;
  background: pink;
  font-size: 24px;
}
#number4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: lightgreen;
font-size: 24px;
}
.number5{
  font-family: sans-serif;
  background-color: pink;
}
.related{
  background-color: black;
  color: #fff;
}
.related1{
 background-color: #faea0cf6; 
}
.related.related1{
  font-size: 28px;
font-family: Helvetica, "Times New Roman", sans-serif;
}
.avatar.proportioned{
 height: auto;
 width: 300px;
}
.avatar.distorted{
   height: 400px;
    width: 200px;
}
.ancestor .Descendant{
  background-color: yellow;
  font-size: 20px;
  color: red;
  text-align: center;
}
.h1{
  background-color: #fff;
  color: black;
  font: size 21px;;
font-weight:bold;
}
h2{
  font-size:small;
font-weight: bolder;
}

.button{
  background-color: darkgreen;
  font-size: large;
  color: #fff;
}
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}


.child-1 .child-2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
.child{
  font-size: small;
  font-weight: bolder;
>>>>>>> Stashed changes
}